<div class="sidebar">
  <div class="inner">
    <h1 class="site-title">{{@site.title}}</h1>
    <h2 class="site-description">{{@site.description}}</h2>
    <footer class="site-footer">
      <div class="inner">
        <nav>
          <a href="{{@site.url}}">Home</a>
        </nav>
        <section class="copyright">
          <a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}
        </section>
      </div>
    </footer>
  </div>
</div>