{{!< default}}
  <main id="site-main" class="site-main">
    <div class="inner">
      {{#author}}
        <div id="author-{{id}}" class="author card card-full" data-id="{{id}}">
          {{#if profile_image}}
            <img class="profile-image" src="{{profile_image}}" alt="{{name}}'s Picture" />
          {{/if}}
          <h1 class="name">
            {{name}}
          </h1>
          <div class="author-meta">
            {{#if location}}
                <div class="author-location">{{location}} <span class="bull">&bull;</span></div>
            {{/if}}
            <div class="author-stats">
                {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}} <span class="bull">&bull;</span>
            </div>
            {{#if website}}
                <a class="social-link social-link-wb" href="{{website}}" target="_blank" rel="noopener"><i class="fa fa-globe"></i></a>
            {{/if}}
            {{#if twitter}}
                <a class="social-link social-link-tw" href="{{twitter_url}}" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
            {{/if}}
            {{#if facebook}}
                <a class="social-link social-link-fb" href="{{facebook_url}}" target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a>
            {{/if}}
            <a class="social-link social-link-rss" href="https://feedly.com/i/subscription/feed/{{url absolute="true"}}rss/" target="_blank" rel="noopener"><i class="fa fa-rss"></i></a>
          </div>
          {{#if bio}}
            <div class="bio">
              {{bio}}
            </div>
          {{/if}}
         
          <div class="clearfix"></div>
        </div>
      {{/author}}
      <main role="main">
        {{> "loop"}}
      </main>
    </div>
  </main>